
body {
    margin: 0;
    margin-bottom: 25px;
    padding: 0;
    background-color: #ddd;
    background-repeat: no-repeat;
    background-position: top left;

    font-family: "Lucida Grande", "Bitstream Vera Sans", "Verdana";
    font-size: 13px;
    color: #333;
}

h1 {
    font-size: 28px;
    color: #000;
}

a  {color: #03c}
a:hover {
    background-color: #03c;
    color: white;
    text-decoration: none;
}

h1, h2, h3, h4, h5 {
    font-family: sans-serif;
    margin: 1.2em 0 0.6em 0;
}

p {
    line-height: 1.5em;
    margin: 1.6em 0;
}

code, tt {
    font-family: 'Andale Mono', Monaco, 'Liberation Mono', 'Bitstream Vera Sans Mono', 'DejaVu Sans Mono', monospace;
}
